<!-- Brand Logo -->
{#<a href="/bundles/web/index3.html" class="brand-link">
    <img src="/bundles/web/vendor/adminlte/img/AdminLTELogo.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>#}

<!-- Sidebar -->
<div class="sidebar">
    {% include '@Admin/block/user.html.twig' %}
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {{ widget('ZnSandbox\\Bundle\\Admin\\Widgets\\MenuWidget') }}
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->